ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.restaurants-table{
  width: 80%;
  display: table;
  margin:  auto;
}

.mv-4{
  padding-bottom: 50px;
}

.search-form{
  margin-top: 50px;
}

.m-3 {
  margin: 10px;
}
